# dependencies
13.06.22/api/node_modules
13.06.22/users/node_modules
14.06.22/web-server/node_modules
14.06.22/Express-routes/node_modules
15.06.22/Numbers/node_modules
20.06.22/17.1-product_model/node_modules
21.06.22/18.1- create_and_read/node_modules